.pagination {
    display: flex;
    /* Border */
    border: 1px solid #d1d5db;
    border-radius: 4px;
    max-width: 100%;
}

.pagination__item{
    
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 10px;
    cursor: pointer;

}

.pagination__item:hover {
    background-color: #ccc;
}

.pagination__item:not(:last-child) {
    /* Right border */
    border-right: 1px solid #d1d5db;
}

.pagination__item--active {
    background-color: #d1d5db;
}